<div class="px-4 pt-3">
  <div class="faro-logo-space d-flex align-items-center">
    <h1 class="faro-title faro-title-l-responsive">Privacy Policy</h1>
  </div>
</div>
<div id="iubenda_policy" class="iubenda_fixed_policy">
  <div class="iubenda_body">
    <div id="wbars_all">
      <div class="iub_container iub_base_container">
        <div id="wbars">
          <div class="iub_content simple_pp">
            <div class="iub_header">
              <p>
                Questa Applicazione raccoglie alcuni Dati Personali dei propri Utenti.
              </p>
            </div> <!-- /header -->
            <h2 id="purposes_data">Dati personali raccolti per le seguenti finalità ed utilizzando i seguenti servizi:</h2>
            <ul class="for_boxes cf">
              <li class="one_line_col">
                <ul class="for_boxes">
                  <li>
                    <div class="iconed policyicon_purpose_48">
                      <h3>Gestione dei tag</h3>
                      <ul class="unstyled">
                        <li>
                          <h3>Google Tag Manager</h3>
                          <p>Dati Personali: Dati di utilizzo</p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="iconed policyicon_purpose_5">
                      <h3>Statistica</h3>
                      <ul class="unstyled">
                        <li>
                          <h3>Google Analytics con IP anonimizzato</h3>
                          <p>Dati Personali: Cookie; Dati di utilizzo</p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li>
                    <div class="iconed policyicon_purpose_25">
                      <h3>Visualizzazione di contenuti da piattaforme esterne</h3>
                      <ul class="unstyled">
                        <li>
                          <h3>Font Awesome</h3>
                          <p>Dati Personali: Dati di utilizzo</p>
                        </li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

            <h2 id="contact_information">Informazioni di contatto</h2>
            <ul class="for_boxes cf">
              <li class="one_line_col">
                <ul class="for_boxes">
                  <li>
                    <div class="iconed icon_owner">
                      <h3>Titolare del Trattamento dei Dati</h3>
                      <p>Associazione culturale Faro Tricolore, Piazza Duomo 17, Desenzano D/G</p>
                      <p><b>Indirizzo email del Titolare:</b> info@farotricolore.it</p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>

            <div class="iub_footer">
              <p>
                Ultima modifica:  8 febbraio 2020
              </p>
              <p>
                Privacy Policy generata con <a href="//www.iubenda.com" class="no_border" title="iubenda" rel="noopener"><img alt="iubenda" src="//www.iubenda.com/assets/site/logo_min.png"></a>
              </p>
              <a routerLink="complete" title="Visualizza la Privacy Policy Completa" class="show_comp_link iframe-preserve an-preserve">Visualizza la Privacy Policy Completa</a>
            </div> <!-- /footer -->
          </div> <!-- /content -->
        </div> <!-- /wbars -->
      </div> <!-- /container base_container -->
    </div>
  </div>
</div>
