<div class="faro-logo-space d-flex align-items-center w-100">
  <div class="p-3">
    <h1 class="faro-title faro-title-l">La pagina che stai cercando non esiste!</h1>
    <button class="btn btn-primary" routerLink="/">Torna alla home</button>
  </div>
</div>
