@import "src/styles.colors";

$navColor: $colorBlue;

#navbar-faro {
  z-index: 8;
  background-color: $navColor;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

// To lock on top the nav bar
#navbar-faro.animate {
  position: sticky;
  top: 0px;
}

.nav-link {
  color: white;
  border-top: 8px solid $navColor;
  border-bottom: 8px solid $navColor;
}

#logo-border {
  position: absolute;
  z-index: 10;
  top: 0px;
  height: 164px;
  width: 160px;
  background-color: $navColor;
  margin-left: 50px;
  text-align: center;
}

#logo-border-triangle {
  position: absolute;
  z-index: 9;
  top: 0px;
  width: 0px;
  height: 0px;
  margin-left: 50px;
  margin-top: 164px;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
  border-top: 72px solid $navColor;
}

.logo-img {
  margin-top: 15px;
  width: 115px;
}

.navbar-link:hover, .navbar-nav li.active a, .active-item {
  color: $navColor !important;
  background-color: #fff !important;
  border-top: 8px solid #FFFFFF;
  border-bottom: 8px solid #FFFFFF;
}


.dropdown:hover>.dropdown-menu {
  display: block;
}

