<div *ngIf="!isMobile && !isAdminPage()" id="logo-border">
  <a routerLink="/"><img class=logo-img src="assets/images/logos/LogoFaroW.png" alt="Logo"></a>
</div>
<div *ngIf="!isMobile && !isAdminPage()" id=logo-border-triangle></div>

<nav class="navbar navbar-expand-sm" id="navbar-faro">
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler nav-link" type="button" (click)="isNavCollapsed = !isNavCollapsed">
    <span style="font-size: 1.9rem;">
      <i class="fas fa-bars"></i>
    </span>
  </button>

  <!-- Links -->
  <div class="collapse navbar-collapse" [ngbCollapse]="isNavCollapsed">
    <div *ngIf="isMobile" class="text-center w-100 mb-3">
        <button class="btn btn-link" (click)="navLinkClick('/')">
          <img class=logo-img src="assets/images/logos/LogoFaroW.png" alt="Logo">
        </button>
    </div>

    <ul class="navbar-nav ml-auto">
      <li *ngFor="let navItem of navItems.concat(showNavItemsAdmin ? navItemsAdmin : []); let navItemIndex = index"
          class="nav-item" [class.dropdown]="navItem.children"><!-- TODO: Add collapse show with ng bootstrap -->
        <button class="btn btn-link nav-link w-100"
                [class.dropdown-toggle]="navItem.children"
                [class.active-item]="isNavLinkActive(navItem.link)"
                (click)="navLinkClick(navItem.link)"
        >
          {{navItem.name}}
        </button>
        <div *ngIf="navItem.children" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink"
             [id]="'navbarDropdownMenuLink-' + navItemIndex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <button *ngFor="let dropdownItem of navItem.children"
             class="dropdown-item"
             (click)="navLinkClick(dropdownItem.link)"
          >
            {{ dropdownItem.name }}
          </button>
        </div>
      </li>
    </ul>
  </div>

</nav>
