<div class="px-4 pt-3">
  <div class="faro-logo-space d-flex align-items-center">
    <h1 class="faro-title faro-title-l pb-3">Galleria</h1>
  </div>

  <div class="w-100 text-center" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading">
    <div class="row">
      <div class="col-md-4" *ngFor="let evt of events">
        <div class="border cursor-pointer px-3 pb-3 mb-4" [routerLink]="evt.id">
          <h3 class="text-center faro-title-font my-3 color-primary">{{ evt.name }}</h3>
          <h6 class="text-center my-3">{{ evt.location }}, {{ commonService.getSlashFormattedDate(evt.startDate) }}</h6>
          <img [src]="evt.firstImage.medium" class="img-fluid gallery-thumbnail w-100">
        </div>
      </div>
    </div>

    <div class="text-center pt-5" *ngIf="loadingMoreEvents">
      <app-loading></app-loading>
    </div>

    <div class="text-center btn-lg pt-4 pb-5 mb-5" >
      <button [disabled]="loadingMoreEvents" (click)="loadMoreEvents()" class="btn btn-primary">Carica altri eventi!</button>
    </div>
  </div>
</div>
