<div class="mx-5 jumbotron">

  <h1>
    <i routerLink="/admin/dashboard" class="fas fa-chevron-circle-left cursor-pointer pr-3"></i>
    {{ editing ? "Modifica evento" : "Aggiungi evento" }}
  </h1>

  <div class="text-right w-100 text-muted font-italic">
    Il simbolo <span class="text-danger mr-1">*</span> indica che il campo è obbligatorio.
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-sm-6 p-2">
        Nome
        <span class="text-danger mr-1">*</span>
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Il nome dell\'evento.')">
          <i class="fas fa-info-circle"></i>
        </span>
        <input formControlName="name" class="form-control" placeholder="Nome">
      </div>
      <div class="col-sm-6 p-2">
        Luogo
        <span class="text-danger mr-1">*</span>
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Nome del luogo dove verrà/si è svolto l\'evento. (possibilmente massimo 3/4 parole)')">
          <i class="fas fa-info-circle"></i>
        </span>
        <input formControlName="location" class="form-control" placeholder="Luogo">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 p-2">
        Inizio evento
        <span class="text-danger mr-1">*</span>
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Data di inizio evento.')">
          <i class="fas fa-info-circle"></i>
        </span>
        <input [owlDateTime]="startDate" [owlDateTimeTrigger]="startDate"
               placeholder="Inizio evento"
               formControlName="startDate"
               (focusin)="startDate.open()"
               (focusout)="shortDescription.focus()"
               class="form-control">
        <owl-date-time #startDate pickerType="calendar"></owl-date-time>
      </div>
      <div class="col-sm-6 p-2">
        Fine evento
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Data di fine evento. Al momento non è possibile modificare questo campo.')">
          <i class="fas fa-info-circle"></i>
        </span>
        <input [owlDateTime]="endDate" [owlDateTimeTrigger]="endDate"
               placeholder="Fine evento"
               formControlName="endDate"
               (focusin)="endDate.open()"
               (focusout)="shortDescription.focus()"
               class="form-control disabled">
        <owl-date-time disabled #endDate pickerType="calendar"></owl-date-time>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 p-2">
        Breve descrizione
        <span class="text-danger mr-1">*</span>
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Breve descrizione che viene mostrata solo nella lista di tutti gli eventi. Questo campo deve dare un\'idea di che evento si tratta.')">
          <i class="fas fa-info-circle"></i>
        </span>
        <textarea #shortDescription formControlName="shortDescription" class="form-control" placeholder="Breve descrizione"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 p-2">
        Descrizione
        <span class="text-danger mr-1">*</span>
        <span class="btn btn-link m-0 p-0" (click)="showInfo('Descrizione che viene mostrata solo nella pagina di dettaglio dell\'evento. Questo campo deve descrivere l\'evento in modo completo e deve contenere tutte le informazioni necessarie.')">
          <i class="fas fa-info-circle"></i>
        </span>
        <ckeditor *ngIf="descriptionEditor" [editor]="descriptionEditor" formControlName="longDescription"></ckeditor>
<!--        <textarea formControlName="longDescription" class="form-control" placeholder="Descrizione" rows="10"></textarea>-->
      </div>
    </div>
    <div class="row mt-4">
      <h2 class="ml-2">Locandina</h2>
    </div>
    <div class="row">
      <div class="col-sm-4 p-2" *ngIf="editingPosterUrl">
        <img [src]="editingPosterUrl" class="w-100">
      </div>
      <div class="col-sm p-2">
        Carica la locandina dell'evento: {{ editingPosterUrl ? '(Se vuoi cambiarla)' : '' }}
        <input type="file"
               class="form-control-file"
               formControlName="poster"
               #fileInput
               (change)="onFileUploadChange(fileInput.files[0])"
               accept="image/*"
        >
        <span (click)="removePosterClick(fileInput)" class="btn btn-light mt-3">
          Rimuovi locandina
        </span>
      </div>
    </div>
    <div class="row py-2" *ngIf="editing">
      <div class="col pl-4 pr-4 pt-1 pb-1">
        <a (click)="confirmLoseEditsMessage('Andare alla modifica delle immagini/video? Eventuali modifiche andranno perse! ' +
         'Salvare la bozza o pubblicare per salvare le modifiche. Continuare lo stesso?') ?
                      router.navigate(['images'], { relativeTo: route }) : undefined"
           class="btn btn-primary text-white w-100">Modifica immagini/video</a>
      </div>
    </div>
    <div class="row py-2">
      <div class="col-md px-4 py-1">
        <a (click)="confirmLoseEditsMessage('Tornare alla lista eventi? Eventuali modifiche andranno perse!') ?
                      router.navigateByUrl('/admin') : undefined"
           class="btn btn-danger text-white w-100">Chiudi</a>
      </div>
      <div class="col-md px-4 py-1">
        <button type="submit" (click)="editingHideEvent = true" class="btn btn-primary w-100">
          Salva bozza senza pubblicare
        </button>
      </div>
      <div class="col-md px-4 py-1">
        <button type="submit" class="btn btn-success w-100" [disabled]="!form.valid">
          {{ editing ? "Pubblica modifiche" : "Pubblica evento" }}
        </button>
      </div>
    </div>
  </form>
</div>
