$socialHeight: 60vh;
#social-bg {
  // Add the blur effect
  filter: blur(4px);
  -webkit-filter: blur(4px);

  // Remove white border
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
  transform: scale(1);

  background: url(/assets/images/imgfaro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -10;
}

.social-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  height: $socialHeight;

}

.social-logo {
  font-size: 11rem;
  padding-bottom: 20px;
}

.social-description {
  font-size: 5rem;
}

@media screen and (max-width: 768px) {
  .social-logo {
    font-size: 8rem;
    padding-bottom: 20px;
  }

  .social-description {
    font-size: 3.7rem;
  }
}
