<img class="w-100" src="../../../assets/images/cover.jpeg">

<div class="">

  <div class="p-5">
    <h1 class="faro-title faro-title-xl">Faro Tricolore</h1>
    <div class="row">
      <div class="col-sm-8">
        <p class="text-justify">L'associazione culturale "Faro Tricolore" è nata a Desenzano del Garda il 22 gennaio 2010
          da un gruppo di amici guidato dalla volontà di preservare e tramandare, in funzione della coesione nazionale, i
          valori
          fondanti della nostra nazione: l'Italia.
          Tra gli obiettivi primari ci siamo posti la divulgazione degli ideali risorgimentali.
          Fare dunque chiarezza su alcuni nodi della nostra storia che oggi vengono messi in discussione da chi ignora o
          distorce
          a fini politici le idealità che hanno animato quanti lottarono e morirono per far sì che l'Italia divenisse quello
          che
          oggi rappresenta in Europa e nel Mondo.
          <br/>
          L'Associazione si propone di contribuire a mantenere viva, specialmente presso le nuove generazioni,
          la memoria dei fatti risorgimentali e di tutti coloro che in quel periodo storico sostennero lo spirito di libertà e
          di democrazia che portarono all'Unità d'Italia. In particolare intendiamo valorizzare il contributo dato dal nostro
          territorio e dalla sua gente a quei processi storici facendo particolare riferimento alla battaglia di Solferino e
          San Martino del 24 giugno 1859. Promuoveremo dunque iniziative, manifestazioni, ricerche e pubblicazioni volte agli
          scopi suddetti.
          <br/>
          Membri del Direttivo e soci ordinari sono impegnati nell'attività di organizzazione di eventi culturali,
          rievocazioni storiche e conferenze per gli studenti delle scuole e per gli adulti, volte a focalizzare alcuni
          aspetti
          salienti dell'Ottocento, inteso come secolo ricco di espressioni storico- artistiche, letterarie, musicali che hanno
          contribuito alla formazione della nostra identità culturale.
          Per definizione statutaria l'associazione "si appella a tutti coloro che, senza alcuna distinzione di parte,
          di partito o di opinione, si riconoscono in questi principi perchè contribuiscano a diffonderli e agevolino
          la riuscita delle singole iniziative".
        </p>
      </div>
      <div class="col-sm-4 text-center my-auto">
        <img class="w-50" src="../../../assets/images/logos/LogoFaroB.png">
      </div>
    </div>
  </div>

  <div class="p-5 faro-bg-blue">
    <h1 class="faro-title faro-title-xl text-right">Faro Tricolore Giovani</h1>
    <div class="row pb-5">
      <div class="col-sm-4 text-center my-auto">
        <img class="w-100" src="../../../assets/images/logos/logo-faretti.png">
      </div>
      <div class="col-sm-8">
        <p class="text-justify">
          Nascono come gruppo interno al Faro Tricolore nel febbraio del 2018 per
          volontà di Marco Locatelli, attuale coordinatore del gruppo. I Faretti, così
          come sono stati soprannominati dall'ex vicepresidente professor Edoardo
          Campostrini, raccolgono le persone più giovani del Faro che hanno in
          comune la passione per la storia, per la storia del Risorgimento in
          particolare, e ne hanno a cuore la divulgazione; il loro intento, che sposa
          quello più generale di tutto il gruppo, è quello di portare la conoscenza
          della storia “nelle piazze”, di divulgarla in termini semplici e coinvolgenti,
          dando man forte al Faro nell’organizzare eventi caratterizzati anche da
          aspetti più ludici, in cui il racconto del passato si unisce allo spettacolo
          di costumi, di musica e di danze dell’epoca. Un altro obiettivo che hanno a
          cuore è quello di migliorare la conoscenza storica del territorio,
          organizzando uscite culturali a tema aperte a tutti, per esplorare luoghi
          significativi, ma non sempre così noti. Il gruppo giovani sta crescendo di
          numero e la prospettiva futura è quella di continuare ad ampliarsi
          accogliendo nuove “leve” di appassionati, che con la voglia di fare, di
          mettersi in gioco, di condividere idee e contributi culturali possano
          tenere vivo il grande patrimonio che ci è stato donato: la memoria del
          passato.
        </p>
      </div>
    </div>
  </div>
</div>

<a href="../../../assets/documents/Statuto.pdf" target="_blank" class="text-decoration-none">
  <div class="d-flex align-items-center position-relative overflow-hidden">
    <div id="social-bg"></div>
    <div class="social-text d-flex align-items-center">
      <div class="text-center w-100">
        <i class="fas fa-download social-logo"></i>
        <p class="social-description faro-title-font">Leggi il nostro statuto</p>
      </div>
    </div>
  </div>
</a>
