<p class="faro-title faro-title-xl text-center"> Contatti </p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 col-xl-4 pb-4" *ngFor="let contact of contacts">
      <div class="card-deck h-100">
        <div class="card w-100">
          <div class="card-body">
            <h3 class="card-title"> {{ contact.role }} </h3>
            <h5 class="card-title"> <i class="fas fa-user"></i> {{ contact.name }} </h5>
            <h6 class="card-title">
              <i class="fas fa-envelope"></i>
              <a class="color-primary" [href]="'mailto:' + contact.email">
                {{ contact.email }}
              </a>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

