<div class="container jumbotron">

  <h1>
    <i routerLink="/admin/dashboard" class="fas fa-chevron-circle-left cursor-pointer pr-3"></i>
    {{ editing ? "Modifica utente" : "Aggiungi utente" }}
  </h1>

  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
    <div class="row">
      <div class="col-sm-6 p-2">
        <input formControlName="email" class="form-control" placeholder="Email">
      </div>
      <div class="col-sm-6 p-2">
        <input formControlName="password" type="password" class="form-control" placeholder="Password">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 p-2">
        <input formControlName="name" class="form-control" placeholder="Nome">
      </div>
      <div class="col-sm-6 p-2">
        <input formControlName="surname" class="form-control" placeholder="Cognome">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 pt-2 pb-2 pl-5 pr-5">
        <select formControlName="role" class="form-control" >
          <option *ngFor="let role of roles" value={{role.value}}>{{role.name}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-sm pl-4 pr-4 pt-1 pb-1">
        <a routerLink="/admin" class="btn btn-danger w-100">Annulla</a>
      </div>
      <div class="col-sm pl-4 pr-4 pt-1 pb-1">
        <button type="submit" class="btn btn-success w-100" [disabled]="!form.valid">{{ editing ? "Modifica utente" : "Aggiungi utente" }}</button>
      </div>
    </div>
  </form>
</div>
