<ng-template #modalTemplate let-c="close">
  <div class="modal-header">
    <h1 class="modal-title faro-title-font">Vieni a trovarci al nostro prossimo evento!</h1>
    <button type="button" class="close" aria-label="Close" (click)="c('Close')">
      <span aria-hidden="false">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img *ngIf="event.poster" [src]="event.poster.large" alt="Locandina" class="w-100 cursor-pointer"
         (click)="c() || router.navigateByUrl('events/' + event.id)">
    <div *ngIf="!event.poster" (click)="c() || router.navigateByUrl('events/' + event.id)">
      <h4 class="pt-3 pb-2">{{ event.name }}</h4>
      <h5> <i class="fas fa-clock info pr-2"></i> {{commonService.getFormattedDate(event.startDate)}} </h5>
      <h5> <i class="fas fa-map-marked-alt info pr-2"></i> {{event.location}} </h5>
      <hr>
      <p class="py-2">{{ event.shortDescription }}</p>
    </div>
  </div>
  <div class="modal-footer align-items-center">
    <div class="w-100 text-center">
      <button type="button" class="btn btn-primary m-2" (click)="c() || router.navigateByUrl('events/' + event.id)">
        Vai ai dettagli dell'evento!
      </button>
    </div>
  </div>
</ng-template>
