<div class="px-4 pt-3">
  <div class="faro-logo-space d-flex align-items-center">
    <h1 class="faro-title faro-title-l pb-3">Gli eventi che abbiamo organizzato</h1>
  </div>

  <div class="text-center pt-5" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading">
    <div class="row">
      <div class="col-lg-6 pb-4" *ngFor="let event of events">
        <div class="card h-100 cursor-pointer" [routerLink]="[ event.id ]">
          <div class="row card-body">
            <div class="col-12 col-sm-5 align-middle" *ngIf="event.poster">
              <img [src]="event.poster.medium" class="w-100">
            </div>
            <div class="col-12"
                 [class.col-sm-7]="event.poster"
                 [class.pr-sm-4]="event.poster"
                 [class.pt-3]="event.poster"
                 [class.pt-sm-0]="event.poster"
                 [class.px-4]="!event.poster"
            >
              <h2 class="card-title faro-title-font">{{ event.name }}</h2>
              <hr>
              <h5 class="card-title"> <i class="fas fa-clock info"></i> {{ commonService.getFormattedDate(event.startDate) }}</h5>
              <h5 class="card-title"> <i class="fas fa-map-marked-alt info"></i> {{ event.location }} </h5>
              <p class="card-text"> {{ event.shortDescription }} </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center pt-5" *ngIf="loadingMoreEvents">
      <app-loading></app-loading>
    </div>

    <div class="text-center btn-lg pt-4 pb-5 mb-5" >
      <button [disabled]="loadingMoreEvents" (click)="loadMoreEvents()" class="btn btn-primary">Carica altri eventi!</button>
    </div>
  </div>
</div>
