@import "../../../../styles";

.gallery-thumbnail {
  min-width: 100%;
  object-fit: cover;

}

@media screen and (max-width: $screen-xxs-max) {
  .gallery-thumbnail {
    height: 28vh;
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
  .gallery-thumbnail {
    height: 22vh;
  }
}

@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .gallery-thumbnail {
    height: 19vh;
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .gallery-thumbnail {
    height: 19vh;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .gallery-thumbnail {
    height: 20vh;
  }
}
