<div class="px-4 pt-3">
  <div class="faro-logo-space d-flex align-items-center" *ngIf="!loading">
    <h1 class="faro-title faro-title-l pb-3">
      {{ event.name }}
    </h1>
  </div>

  <div class="w-100 text-center" *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <div *ngIf="!loading">
    <div *ngIf="event.images && event.images.length">
      <div class="text-center">
        <h1 class="faro-title my-3">Immagini</h1>
      </div>
      <div class="row">
        <div *ngFor="let image of event.images; let i = index"
             class="col-xl-2 col-lg-3 col-md-4 col-sm-6"
             (click)="imageGallery.open(i)">
          <img [src]="image.medium" class="gallery-thumbnail my-2 img-thumbnail cursor-pointer">
        </div>
      </div>
      <ngx-image-gallery
        [images]="galleryImages"
        [conf]="galleryConf"
        #imageGallery
      ></ngx-image-gallery>
    </div>

    <hr *ngIf="event.images && event.images.length && event.videos && event.videos.length" class="my-5">

    <div *ngIf="event.videos">
      <div class="text-center">
        <h1 class="faro-title pb-3">Video</h1>
      </div>
      <div class="container">
        <div *ngFor="let video of event.videos"
             class="">
          <app-youtube-video [videoCode]="video.youTubeCode"></app-youtube-video>
        </div>
      </div>
    </div>

    <div class="w-100 text-right py-5">
      <button class="btn btn-lg btn-primary" routerLink="/events/{{event.id}}">Voglio saperne di più!</button>
    </div>
  </div>
</div>
