<div>
  <iframe *ngIf="url"
          width="100%" #frame
          [height]="frame.clientWidth * 0.5625"
          [src]="url"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
  ></iframe>
</div>
