<div *ngIf="loading" class="p-5 w-100 text-center">
  <app-loading></app-loading>
</div>

<div *ngIf="!loading" class="px-5 py-5">
  <h1 class="faro-title faro-title-m">
    <i routerLink=".." class="fas fa-chevron-circle-left cursor-pointer pr-3"></i>
    Evento: "{{ event.name }}"
  </h1>

  <h1 class="faro-title pb-3 pt-4 text-center">Immagini</h1>
  <div class="row">
    <div *ngFor="let image of event.images" class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
      <div class="text-center">
        <button class="btn btn-danger position-absolute ml-2 mt-1"
                #deleteBtn
                (click)="deleteImage(image.id); deleteBtn.disabled = true">
          <i class="fas fa-trash"></i>
        </button>
        <img [src]="image.medium" class="gallery-thumbnail my-2 img-thumbnail cursor-pointer">
      </div>
    </div>

    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 my-auto card">
      <div class="text-center p-4 cursor-pointer">
        <h4>Aggiungi nuove immagini</h4>
        <input type="file"
               #filesInput
               class="form-control-file"
               accept="image/*"
               multiple
               [disabled]="uploading"
               (change)="onSubmit(filesInput.files); filesInput.value = ''"
        >
        <h6 *ngIf="uploading">Sto caricando le foto...</h6>
<!--        <i class="fas fa-plus" style="font-size: 10vw"></i>-->
      </div>
    </div>
  </div>


  <hr class="my-5">


  <h1 class="faro-title py-3 text-center">Video</h1>
  <h4 *ngIf="!(event.videos && event.videos.length)" class="text-center">Non ci sono ancora video!</h4>

  <div class="container py-3" *ngFor="let video of event.videos">
    <button class="btn btn-danger position-absolute ml-2 mt-1"
            (click)="deleteVideo(video.id)">
      <i class="fas fa-trash"></i>
    </button>
    <app-youtube-video [videoCode]="video.youTubeCode"></app-youtube-video>
  </div>

  <div class="text-center pt-3 mb-5">
    <button class="btn btn-success" (click)="modalService.open(videoModalTemplate)">Aggiungi un video!</button>
  </div>


  <hr class="my-5">


  <div class="text-center pb-5">
    <button class="btn btn-primary px-5" routerLink="..">Torna alla modifica dell'evento</button>
  </div>



  <ng-template #videoModalTemplate let-c="close">
    <div class="modal-header">
      <h1 class="modal-title faro-title-font">Aggiungi un video</h1>
      <button type="button" class="close" aria-label="Close" (click)="c('Close')">
        <span aria-hidden="false">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <label for="youtubeCode">Codice del video</label>
      <input type="text" class="form-control" id="youtubeCode" [(ngModel)]="youtubeCode" placeholder="Inserisci il codice di YouTube">

      <h5 class="mt-3">Esempio</h5>
      Dal link di YouTube bisogna prendere solo il codice, come segnato in rosso nell'esempio qui sotto.
      <br>
      <span class="text-muted font-italic">https://www.youtube.com/watch?v=<span class="text-danger">cxNiDVzkr_o</span></span>
    </div>
    <div class="modal-footer align-items-center">
      <div class="w-100 text-center">
        <button type="button" class="btn btn-success m-2" (click)="c() || addVideo()">
          Aggiungi il video
        </button>
      </div>
    </div>
  </ng-template>
</div>
