@import "src/styles.colors";

$headerHeight: calc(100vh - 52px);

p {
  font-size: 1.5rem;
}

.imgtext {
  position: relative;
  text-align: center;
  height: $headerHeight;

  background: url(/assets/images/faro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Centered text */
.headerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  color: white;
  z-index: 2;
  width: 80vw;
  padding: 20px;
  text-align: center;
  font-size: 1.3rem; //17px;
}

@media screen and (max-width: 991px) {
  .headerContainer {
    height: 100%;
    width: 100%;
    display: flex;
  }
}


.container-fluid {
  padding: 90px 50px;
}

.btn-more {
  background-color: $colorBlueVeryLight;
  border-radius: .6rem;
}

.chisiamo-graphics {
  width: 15rem;
}

// -----------------------------
// ---------- Eventi -----------
// -----------------------------
.spacing-events {
  padding-top: 15px;
  padding-bottom: 15px;
}

// -----------------------------
// ---------- Social -----------
// -----------------------------
$socialHeight: 60vh;
#social-bg {
  // Add the blur effect
  filter: blur(4px);
  -webkit-filter: blur(4px);

  // Remove white border
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
  transform: scale(1);

  background: url(/assets/images/imggruppo.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: -10;
}

.social-text {
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  z-index: 2;
  width: 100%;
  height: $socialHeight;

}

.social-logo {
   font-size: 9rem;
  padding-bottom: 20px;
}

.social-description {
  font-size: 3rem;
}

.social-name {
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .social-logo {
    font-size: 6.5rem;
    padding-bottom: 20px;
  }

  .social-description {
    font-size: 2rem;
  }

  .social-name {
    font-size: 3rem;
  }
}
