<div class="imgtext">
  <div class="centered headerContainer">
    <div class="my-auto">
      <h1 class="faro-title-font display-1"> Faro Tricolore </h1>
      “La Patria non è un territorio; il territorio non è che la base. La Patria è
      l’idea che sorge su quello: è il pensiero d’amore, il senso di comunione che
      stringe in uno tutti i figli di quel territorio”.
      <br />
      - Giuseppe Mazzini -
    </div>
  </div>
</div>


<!-- Chi siamo -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1 class="faro-title display-3">Chi siamo?</h1><br>
      <p class="text-justify font-weight-bold">L'associazione culturale "Faro Tricolore" è nata a Desenzano del Garda il 22 gennaio 2010 da un gruppo di amici guidato dalla volontà di preservare e tramandare, in funzione della coesione nazionale, i valori fondanti della nostra nazione: l'Italia.</p><br>
      <p class="text-justify">Tra gli obiettivi primari ci siamo posti la divulgazione degli ideali risorgimentali. Fare dunque chiarezza su alcuni nodi della nostra storia che oggi vengono messi in discussione da chi ignora o distorce a fini politici le idealità che hanno animato quanti lottarono e morirono per far sì che l'Italia divenisse quello che oggi rappresenta in Europa e nel Mondo.</p><br>
      <a class="btn btn-more btn-lg" routerLink="/chisiamo">Continua a leggere...</a>
    </div>
    <div class="col-md-4 text-center my-auto">
      <img class="chisiamo-graphics my-4" src="../../../assets/images/logos/ico_chisiamo.png">
    </div>
  </div>
</div>

<!-- Eventi -->
<div class="container-fluid faro-bg-blue">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center faro-title display-3">I nostri prossimi eventi</h1><br>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 spacing-events" *ngFor="let event of events">
      <app-home-event
        [id]="event.id"
        [name]="event.name"
        [date]="commonService.getFormattedDate(event.startDate)"
        [location]="event.location"
      >
        {{event.shortDescription}}
      </app-home-event>
    </div>
  </div>
  <div class="row" *ngIf="loading">
    <div class="col-sm-12 text-center">
      <app-loading></app-loading>
    </div>
  </div>
  <div class="row" *ngIf="!loading && events.length === 0">
    <div class="col-sm-12">
      <h3 class="text-center">Non ci sono eventi in programma!</h3>
    </div>
  </div>
</div>

<!-- Social -->
<a href="https://www.facebook.com/Faro-Tricolore-787838344657704/" target="_blank" class="text-decoration-none">
<div class="d-flex align-items-center position-relative overflow-hidden">
  <div id="social-bg"></div>
  <div class="social-text d-flex align-items-center">
    <div class="text-center w-100">
      <i class="fab fa-facebook social-logo"></i>
      <p class="social-description faro-title-font text-decoration-none">Seguiteci sulla nostra pagina facebook</p>
      <p class="social-name faro-title-font text-decoration-none">" Faro Tricolore "</p>
    </div>
  </div>
</div>
</a>

<div class="py-5">
  <app-contacts></app-contacts>
</div>


<app-home-next-event-modal *ngIf="events && events.length" [event]="events[0]"></app-home-next-event-modal>
