<div class="card-deck h-100">
  <div class="card cursor-pointer" [routerLink]="[ 'events', id ]">
    <div class="card-body">
      <h3 class="card-title">{{ name }}</h3>
      <h5 class="card-title"> <i class="fas fa-clock info"></i> {{ date }}</h5>
      <h5 class="card-title"><i class="fas fa-map-marked-alt info"></i> {{ location }} </h5>
      <p class="card-text" id="description"> <ng-content></ng-content> </p>
    </div>
  </div>
</div>
