#content {
  margin-bottom: 2rem;

}

#image {
  width: 100%;
}

#description {
  overflow: hidden;
  //white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 100%;
}

.info {
  margin-right: 0.5rem;
}
