<div class="px-4 py-4">
  <!-- Managing events -->
  <div class="col-12">
    <div class="d-inline-block w-100 mb-2">
      <div class="float-left"><h1>Eventi</h1></div>
      <div class="float-right">
        <button class="btn btn-success" [routerLink]="['../event']" routerLinkActive="router-link-active" >Aggiungi evento</button>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Nome</th>
        <th>Luogo</th>
        <th>Data</th>
        <th>Pubblicato</th>
        <th></th>
      </tr>

      <tr *ngIf="eventsLoading" class="text-center">
        <td colspan=5><app-loading></app-loading></td>
      </tr>

      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.location }}</td>
        <td>{{ event.startDate ? commonService.getFormattedDate(event.startDate) : '' }}</td>
        <td [class.text-danger]="event.hideEvent" [class.text-success]="!event.hideEvent">{{ event.hideEvent ? 'No!' : 'Si' }}</td>
        <td width="108px">
          <button class="btn btn-link" [routerLink]="[ '../event', event.id ]">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-link" (click)="confirmMessage('Vuoi veramente cancellare questo evento?\n' + event.name) ? deleteEvent(event.id) : undefined">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>

    <div class="text-center pt-5" *ngIf="loadingMoreEvents">
      <app-loading></app-loading>
    </div>

    <div class="text-center btn-lg pt-4 pb-5 mb-5" >
      <button [disabled]="loadingMoreEvents" (click)="loadMoreEvents()" class="btn btn-primary">Carica altri eventi!</button>
    </div>
  </div>


  <!-- Managing users -->
  <div class="col-12" *ngIf="showUsers">
    <div class="d-inline-block w-100 mb-2">
      <div class="float-left"><h1>Utenti</h1></div>
      <div class="float-right">
        <button class="btn btn-success" [routerLink]="['../user']" routerLinkActive="router-link-active" >Aggiungi Utente</button>
      </div>
    </div>

    <table class="table table-striped">
      <tr>
        <th>Email</th>
        <th>Nome</th>
        <th>Cognome</th>
        <th>Ruolo</th>
        <th></th>
      </tr>

      <tr *ngIf="usersLoading" class="text-center">
        <td colspan=5><app-loading></app-loading></td>
      </tr>

      <tr *ngFor="let user of users">
        <td>{{ user.email }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.role }}</td>
        <td width="108px">
          <button class="btn btn-link" [routerLink]="[ '../user', user.id ]">
            <i class="fas fa-edit"></i>
          </button>
          <button class="btn btn-link" (click)="confirmMessage('Vuoi veramente cancellare questo utente?\n' + user.email) ? deleteUser(user.id) : undefined">
            <i class="fas fa-trash"></i>
          </button>
        </td>
      </tr>
    </table>
  </div>
</div>
