<div class="px-4 pt-3">
  <div class="faro-logo-space d-flex align-items-center" [hidden]="event?.poster && imageLoading">
    <h1 class="faro-title faro-title-l-responsive pb-3">
      {{ event?.name }}
    </h1>
  </div>

  <div class="text-center w-100"><app-loading *ngIf="loading"></app-loading></div>

  <div class="row" *ngIf="!loading" [hidden]="event.poster && imageLoading">
    <div class="col-sm-12 col-md-5" *ngIf="event.poster">
      <img class="w-100" [src]="event.poster.large" (load)="imageLoading = false">
    </div>
    <div class="col-sm-12" [class.col-md-7]="event.poster">
      <div class="text-right w-100" *ngIf="usersService.isLoggedIn()">
        <button class="btn btn-outline-dark" routerLink="/admin/event/{{event.id}}">
          Modifica evento
        </button>
      </div>
      <div class="container">
        <h4> <i class="fas fa-clock info pr-2"></i> {{commonService.getFormattedDate(event.startDate)}} </h4>
        <h4> <i class="fas fa-map-marked-alt info pr-2"></i> {{event.location}} </h4>
        <hr>
        <div [innerHTML]="event.longDescription"></div>
        <div class="w-100 text-right pt-3 pb-5">
          <button *ngIf="event.mediaExist" class="btn btn-lg btn-primary" routerLink="/gallery/{{event.id}}">Vai alle foto e video dell'evento!</button>
        </div>
      </div>
    </div>
  </div>
</div>
