/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "styles.colors";

// $screen-xs-min:              480px !default;
$screen-xs-min:              575px !default;
$screen-sm-min:              768px !default;
$screen-md-min:              992px !default;
$screen-lg-min:              1200px !default;
$screen-xxs-max:             ($screen-xs-min - 1) !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//body {
//  font-family: "Roboto", FreeSans, sans-serif;
//}


.cursor-pointer {
  cursor: pointer;
}

.color-primary {
  color: $colorBlue !important;
}

.btn-primary {
  background-color: $colorBlue !important;
  border-color: $colorBlue !important;
}

//.modal-content {
//  height: 92vh;
//  @media screen and (max-width: $screen-xs-min) {
//    height: 96vh;
//  }
//}


// -------------
.faro-title {
  font-family: 'Dancing Script', cursive;
  color: $colorBlue;
}

.faro-title-font {
  font-family: 'Dancing Script', cursive;
}

.faro-title-s {
  font-size: 2.5rem;
}

.faro-title-m {
  font-size: 3.2rem;
}

.faro-title-l {
  font-size: 4rem;
}

.faro-title-l-responsive {
  @media screen and (min-width: $screen-xs-min) {
    font-size: 4rem;
  }
}

.faro-title-xl {
  font-size: 5.5rem;
}


.faro-bg-blue {
  background-color: $colorBlueVeryLight;
}


.faro-logo-space {
  @media screen and (min-width: 576px) {
    padding-left: 220px!important;
    min-height: 10.7rem;
    margin-bottom: 1rem;
  }
}

.faro-logo-space-center {
  @media screen and (min-width: 576px) {
    display: flex;
  }
}
