<div class="container h-100 d-flex justify-content-center">
  <div class="wrapper text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
      <h2>Accedi alla pagina di amministrazione</h2>
      <input type="email"
             placeholder="Email"
             class="form-control"
             name="email"
             formControlName="email"
             [class.is-invalid]="loginForm.get('email').invalid"
             [class.is-valid]="loginForm.get('email').valid"
             >
      <input type="password"
             placeholder="Password"
             class="form-control"
             name="password"
             formControlName="password"
             [class.is-invalid]="loginForm.get('password').invalid"
             [class.is-valid]="loginForm.get('password').valid"
             >
      <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Accedi</button>
    </form>
  </div>
</div>
